body {
  overflow-x: hidden;
  font-family: var(--font-pretendard);
}

.inner {
  width: 100%;
  max-width: 95vw;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);

  white-space: nowrap;
  border: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  mix-blend-mode: difference;

  .inner {
    position: relative;
    max-width: 95vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .plus-icon {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(50%);
      width: 20px;
      opacity: 0;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 24px;
      li {
        text-align: center;
        color: #fff;
        font-weight: 300;
        button {
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }

  .logo {
    button {
      font-family: var(--font-anton);
      letter-spacing: 1px;
      font-size: 36px;
      font-weight: 300;
      color: #fff;
    }
  }

  @media (max-width: 1023px) {
    .logo {
      button {
        font-size: 24px;
      }
    }
  }
}

main {
  background-color: #000;
}

.loading-wrap {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading-container {
    overflow: hidden;
    height: 3rem;
  }

  .loading-wrapper {
    transform: translateY(100%);
  }

  .loading-list {
    text-align: center;
  }

  .loading-item {
    height: 3rem;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;

    &--hyun {
      overflow: hidden;
    }
  }

  .loading-char {
    display: inline-block;
  }
}
